.links2{    
    font-size: 25px;    
    font-weight: 700;   
    text-align: center; 
    min-width:130px;        
}

#page01,#page02,#page03,#page04,#page05,#page06,#page07, #page08
{    
    text-align: center;
    position: relative;
    z-index: 1;
}

#page01::after,
#page02::after,
#page03::after,
#page04::after,
#page05::after,
#page06::after,
#page07::after,
#page08::after
{    
    width: 100%;
    height: 100%;
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    opacity: 0.5;
}

#page01::after {background: center / contain no-repeat url("../src/img/page_thumnail/page01.jpg");}
#page02::after {background: center / contain no-repeat url("../src/img/page_thumnail/page02.jpg");}
#page03::after {background: center / contain no-repeat url("../src/img/page_thumnail/page03.jpg");}
#page04::after {background: center / contain no-repeat url("../src/img/page_thumnail/page04.jpg");}
#page05::after {background: center / contain no-repeat url("../src/img/page_thumnail/page05.jpg");}
#page06::after {background: center / contain no-repeat url("../src/img/page_thumnail/page06.jpg");}
#page07::after {background: center / contain no-repeat url("../src/img/page_thumnail/page07.jpg");}
#page08::after {background: center / contain no-repeat url("../src/img/page_thumnail/page08.jpg");}

.Jua{
    font-family: 'Jua', sans-serif;
    font-size:20px;
}
.sm {font-family: 'Song Myung', serif;}

