.links2{    
    font-size: 25px;    
    font-weight: 700;   
    text-align: center; 
    min-width:130px;        
}

#page01,#page02,#page03,#page04,#page05,#page06,#page07, #page08, #page09
{    
    text-align: center;
    position: relative;
    z-index: 1;
}

#page01::after,
#page02::after,
#page03::after,
#page04::after,
#page05::after,
#page06::after,
#page07::after,
#page08::after,
#page09::after
{    
    width: 100%;
    height: 100%;
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    opacity: 0.5;
}

#page01::after {background: center / contain no-repeat url("../src/img/page_thumnail/01.jpg");}
#page02::after {background: center / contain no-repeat url("../src/img/page_thumnail/02.jpg");}
#page03::after {background: center / contain no-repeat url("../src/img/page_thumnail/03.jpg");}
#page04::after {background: center / contain no-repeat url("../src/img/page_thumnail/04.jpg");}
#page05::after {background: center / contain no-repeat url("../src/img/page_thumnail/05.jpg");}
#page06::after {background: center / contain no-repeat url("../src/img/page_thumnail/06.jpg");}
#page07::after {background: center / contain no-repeat url("../src/img/page_thumnail/07.jpg");}
#page08::after {background: center / contain no-repeat url("../src/img/page_thumnail/08.jpg");}
#page09::after {background: center / contain no-repeat url("../src/img/page_thumnail/09.jpg");}

.Jua{
    font-family: 'Jua', sans-serif;
    font-size:20px;
}
.sm {font-family: 'Song Myung', serif;}

p{
    text-align:center;
}


p>button{
    width:55px;
    height:40px;
    border-radius: 10px;
    border: solid burlywood;
    background-color:blanchedalmond;
    margin-left:-3px;
    margin-right:-3px;
    margin-bottom: 10px;
    cursor:pointer;
}
p>button:hover{    background: khaki;}
p>button:nth-of-type(1){    background-color:beige;}
p>button:nth-of-type(1):hover{    background: khaki;}

p>button:focus{    background: orange;}
p>button:nth-of-type(1):focus{    background: orange;}
