.links2{    
    font-size: 25px;    
    font-weight: 700;   
    text-align: center; 
    min-width:130px;        
}

#page1,#page2,#page3,#page4,#page5,#page6,#page7, #page8, #page9, #page10, #page11
{    
    text-align: center;
    position: relative;
    z-index: 1;
}

#page1::after,
#page2::after,
#page3::after,
#page4::after,
#page5::after,
#page6::after,
#page7::after,
#page8::after,
#page9::after,
#page10::after,
#page11::after
{    
    width: 100%;
    height: 100%;
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    opacity: 0.5;
}

#page1::after {background: center / contain no-repeat url("../src/img/page_thumnail/01.jpg");}
#page2::after {background: center / contain no-repeat url("../src/img/page_thumnail/02.jpg");}
#page3::after {background: center / contain no-repeat url("../src/img/page_thumnail/03.jpg");}
#page4::after {background: center / contain no-repeat url("../src/img/page_thumnail/04.jpg");}
#page5::after {background: center / contain no-repeat url("../src/img/page_thumnail/05.jpg");}
#page6::after {background: center / contain no-repeat url("../src/img/page_thumnail/06.jpg");}
#page7::after {background: center / contain no-repeat url("../src/img/page_thumnail/07.jpg");}
#page8::after {background: center / contain no-repeat url("../src/img/page_thumnail/08.jpg");}
#page9::after {background: center / contain no-repeat url("../src/img/page_thumnail/09.jpg");}
#page10::after {background: center / contain no-repeat url("../src/img/page_thumnail/10.jpg");}
#page11::after {background: center / contain no-repeat url("../src/img/page_thumnail/11.jpg");}

.Jua{
    font-family: 'Jua', sans-serif;
    font-size:20px;
}
.sm {font-family: 'Song Myung', serif;}

p{
    text-align:center;
}

p>button{
    width:55px;
    height:40px;
    border-radius: 10px;
    border: solid burlywood;
    background-color:blanchedalmond;
    margin-left:-3px;
    margin-right:-3px;
    margin-bottom: 10px;
    cursor:pointer;
}
p>button:hover{    background: khaki;}
p>button:nth-of-type(1){    background-color:beige;}
p>button:nth-of-type(1):hover{    background: khaki;}
p>button:focus{    background: orange;}
p>button:nth-of-type(1):focus{    background: orange;}
