
.contest{
    background: oldlace;
    
}

.battleTag{
    position:relative; 
    transform:translateX(-50%);
    left:50%; 

    margin-top: 100px;
    width: 700px;
    line-height:40px;
    height:100px;
    background: antiquewhite;

    font-family: 'Courier New', Courier, monospace;
    font-size: 20px;
    text-align: center;
    

}
.battleTag_sub{

    position:relative; 
    transform:translateX(-50%);
    left:50%; 

    width: 700px;
    height:40px;
    line-height:40px;
    background: rgb(228, 215, 199);


    font-family: 'Courier New', Courier, monospace;
    font-size: 20px;
    text-align: center;
}
