@-webkit-keyframes AnimationName {
    0%{background-position:0% 0%}
    100%{background-position:100% 100%}
}
@-moz-keyframes AnimationName {
0%{background-position:0% 100%}
    100%{background-position:100% 0%}
}
@-o-keyframes AnimationName {
0%{background-position:0% 100%}
    100%{background-position:100% 0%}
}
@keyframes AnimationName { 
    0%{background-position:0% 0%}
    100%{background-position:100% 100%}
}

.contest {
    background: linear-gradient(27deg, oldlace, #1405e4,rgb(242, 250, 128),#1405e4,rgb(242, 250, 128) );
    background-size: 400% 400%;
    animation: AnimationName;
    animation-duration: 8s;
    animation-direction: alternate;
    animation-iteration-count :infinite;
    text-align: center;
    animation-timing-function: linear;
    }


#team2ID {
    color:rgb(104, 99, 31);
    font-style: italic;
}
