.Jua{
    font-family: 'Jua', sans-serif;
    font-size:20px;
}
.nm{font-family: 'Nanum Myeongjo', serif;}

.contest{font-family: 'Nanum Myeongjo', serif; font-size: 20px; font-weight: 500;}

button{
    font-family: 'Nanum Myeongjo', serif; font-weight:500;
}
