
.contest{
    background: oldlace;
    
}

.battleTag{
    position:relative; 
    transform:translateX(-50%);
    left:50%; 

    margin-top: 100px;
    width: 380px;
    line-height:40px;
    height:100px;
    background: antiquewhite;

    font-size: 20px;
    text-align: center;
    

}
.battleTag_sub{

    position:relative; 
    transform:translateX(-50%);
    left:50%; 

    width: 380px;

    height:40px;
    line-height:40px;
    background: rgb(228, 215, 199);


    font-size: 20px;
    text-align: center;
}


@media (max-width: 1220px){
    .battleTag{
        margin-top: 100px;
    }
}

@media (max-width: 768px){
    .battleTag{
        font-size: 17px;

    }
    .battleTag_sub{
        font-size: 17px;
    }
}

@media (max-width: 480px){
    .battleTag{
        min-width: 300px;
        font-size: 15px;
    }
    .battleTag_sub{
        min-width: 300px;
        font-size: 14px;
    }
}