
.tabButton{ 
  margin:0; padding:0;
  font-size: 1.5rem;
  width:100%; 
  margin: 0 auto; 
  float:left;  
  position:relative; 
}
.tabButton li{
  display:  inline-block;
  width:50%;
  float:left;  
  text-align:center; 
  background :#f9f9f9;
  line-height:40px;
}
.tabButton input{display:none;}
/* 라디오 버튼 안보이게 */

.tabButton label{
  display:block;
  width:100%; 
  height:40px;
  line-height:40px;
}

.tabButton input:checked ~ label{
  background:rgb(238, 221, 221);
  color:black;
  font-weight: 900;
} 

.tabButton li:hover{
  background:rgb(245, 234, 234);
}

/* 의사 클래스 순서 (:link), (:visited), (:hover), (:active) */




@media (max-width: 1220px){
  .tabButton{ 
    font-size: 1.2rem;
  }
  .tabButton li{
    line-height:40px;
  }
  .tabButton label{
    height:40px;
    line-height:40px;
  }
}

@media (max-width: 768px){
  .tabButton{ 
    font-size: 1rem;
  }
}

@media (max-width: 480px){
  .tabButton{ 
    font-size: 0.8rem;
  }
}
@media (max-width: 400px){
  .tabButton{ 
    font-size: 0.7rem;
  }
}