
.winner_image{
    clear:both;
}
#team1ID{
    position:relative; 
    left:50%; 
    transform:translateX(-50%);
    width:96%;
    margin-top: 200px;
    font-size: 40px;
    text-align: center;
    height:100px;
    line-height:100px;
    display:none;
    font-weight:bold;
    font-style: italic;
}

#team2ID {
    position:relative; 
    left:50%; 
    transform:translateX(-50%);
    width:96%;
    margin-top: 200px;
    font-size: 40px;
    text-align: center;
    height:100px;
    line-height:100px;
    display:none;
    font-weight:bold;
    font-style: italic;
}

.winner_portrait_box0{ 
    margin-top:250px;
    position:relative; 
    left:50%; 
    transform:translateX(-50%);
    width:300px;
    height:300px;
    text-align: center;
    border-radius: 7px;
}

.winner_portrait_box1{
    position:relative; 
    left:50%; 
    transform:translateX(-50%);
    width:90%;
    text-align: center;
    display:none;
    margin-top:50px;
}

.winner_portrait_box2{
    position:relative; 
    left:50%; 
    transform:translateX(-50%);
    width:90%;
    text-align: center;
    display:none;
    margin-top:50px;
}

.winner_portrait_box0 img{
    width:300px;
    height:300px;
    vertical-align: middle;
    object-fit: cover;
    background: #FAEBD7;
    border:solid #e9cdaa;
    border-radius: 10px;
}
.winner_portrait_box1 img{
    width:100%;
    height:100%;
    border-radius: 10px;
}
.winner_portrait_box2 img{
    width:100%;
    height: 100%;
    border-radius: 10px;
}

@media (max-width: 1220px){
    #team1ID {
        font-size: 30px;
        height:70px;
        line-height:70px;
    }
    #team2ID {
        font-size: 30px;
        height:70px;
        line-height:70px;
    }
    .winner_portrait_box0{ 
        margin-top:180px;
        width:200px;
        height:200px;
    }
    .winner_portrait_box1{
        margin-bottom:250px;
        width:90%;
    }
    .winner_portrait_box2{
        margin-bottom:250px;
        width:90%;
    }
    .winner_portrait_box0 img{
        width:200px;
        height:200px;
    }
}

@media (max-width: 768px){

    #team1ID {
        font-size: 30px;
        height:70px;
    }
    #team2ID {
        font-size: 30px;
        height:70px;
    }
    
    .winner_portrait_box1{
        margin-top:30px;
        width:90%;
    }

    .winner_portrait_box2{
        margin-top:30px;
        width:90%;
    }
}

@media (max-width: 480px){

    #team1ID {
        font-size: 30px;
        height:70px;
        line-height:70px;
    }
    #team2ID {
        font-size: 30px;
        height:70px;
        line-height:70px;
    }

    .winner_portrait_box1{
        width:100%;
    }

    .winner_portrait_box2{
        width:100%;
        background:hotpink ;
    }
}