
.chatting {
    clear: both;
    margin:0%;
    position:relative; 
    left:50%; 
    transform:translateX(-50%);
    margin-top: 200px;
    width:98%;
    height:750px;
    background:bisque;
    border-radius: 4px;

    display: flex;
    align-items: center;

}
.chatting>div{
    position:relative; 
    left:50%; 
    transform:translateX(-50%);
    background:whitesmoke;
    width:99%;
    height:99%;
    border-radius: 4px;
}
