
.chatting {
    margin:0%;
    position:relative; 
    left:50%; 
    transform:translateX(-50%);
    margin-top: 200px;
    width:96%;
    height:750px;
    background:#FAEBD7;
}
.chatting>div{
    background:#ffe4c2;
    height:740px;
}
