@-webkit-keyframes AnimationName {
    0%{background-position:0% 0%}
    100%{background-position:100% 100%}
}
@-moz-keyframes AnimationName {
0%{background-position:0% 100%}
    100%{background-position:100% 0%}
}
@-o-keyframes AnimationName {
0%{background-position:0% 100%}
    100%{background-position:100% 0%}
}
@keyframes AnimationName { 
    0%{background-position:0% 0%}
    100%{background-position:100% 100%}
}

.contest {
/* background: linear-gradient(to right, oldlace,chartreuse ); */

background: linear-gradient(27deg, rgb(223, 135, 210), rgba(204, 235, 133, 0.905),oldlace,rgba(144, 181, 236, 0.844));



background-size: 400% 400%;
animation: AnimationName;
animation-duration: 15s;
animation-direction: alternate;
animation-iteration-count :infinite;
height: 100vh;
text-align: center;
animation-timing-function: linear;
}

