@-webkit-keyframes AnimationName {
    0%{background-position:0% 0%}
    50%{background-position:50% 50%}
    100%{background-position:100% 100%}
}
@-moz-keyframes AnimationName {
    0%{background-position:0% 0%}
    50%{background-position:50% 50%}
    100%{background-position:100% 100%}
}
@-o-keyframes AnimationName {
    0%{background-position:0% 0%}
    50%{background-position:50% 50%}
    100%{background-position:100% 100%}
}
@keyframes AnimationName { 
    0%{background-position:0% 0%}
    50%{background-position:50% 50%}
    100%{background-position:100% 100%}
}
/* 
.contest {
background: linear-gradient(90deg, oldlace,rgb(233, 212, 174), rgb(48, 44, 44), rgb(78, 45, 32));
background-size: 400% 400%;
animation: AnimationName;
animation-duration: 15s;
animation-direction: normal;
animation-fill-mode: forwards;
animation-iteration-count :1;
height: 100vh;
text-align: center;
animation-timing-function: ease-in;
} */

.contest {
    background: linear-gradient(27deg, oldlace, rgb(48, 44, 44),oldlace,rgb(78, 45, 32));
    background-size: 400% 400%;
    animation: AnimationName;
    animation-duration: 15s;
    animation-direction: alternate;
    animation-iteration-count :infinite;
    text-align: center;
    animation-timing-function: linear;
}

#team1ID {
    color:rgb(253, 246, 255);
    font-style: italic;
}
