

@-webkit-keyframes AnimationName {
    0%{background-position:0% 100%}
        100%{background-position:100% 0%}
    }
    @-moz-keyframes AnimationName {
    0%{background-position:0% 100%}
        100%{background-position:100% 0%}
    }
    @-o-keyframes AnimationName {
    0%{background-position:0% 100%}
        100%{background-position:100% 0%}
    }
    @keyframes AnimationName { 
        0%{background-position:0% 100%}
        100%{background-position:100% 0%}
    }
    .contest {
    background: linear-gradient(to right, white, #0a0a0a);
    background-size: 400% 400%;
    animation: AnimationName ease-out ;
    animation-duration: 5s;
    animation-fill-mode: forwards;
    animation-iteration-count :1;
    height: 100vh;
    text-align: center;
    }