.center{text-align: center;}
.right{text-align: right;}

html {
    scroll-behavior: smooth;
}

a:link { color: red; text-decoration: none;}
a:visited { color: black; text-decoration: none;}
a:hover { color: blue; text-decoration: none;} 
a:active { color: red; text-decoration: none;} 

.contest{
    background-color: oldlace;
}
.links2{
    font-size: 20px;
    font-weight: 700;
    text-align: center;
    line-height: 170px;
    cursor:pointer;
}

.links{
    cursor:pointer;
}

.battleTag{
    background: antiquewhite;
    font-family: 'Courier New', Courier, monospace;
}


/* textrow : Lstatus + (questions + radioarea) Rstatus */

:root{
    --query-height:600px;
}

.textRow{
    position:relative; 
    left:50%; 
    transform:translateX(-50%);
    clear:both;
    float:left;
    width:900px;

    margin-top: 400px;
    font-size: 1.4rem;
}

.LStatus{
    float:left;
    width:50px;
    height:var(--query-height);
    background: #7FFF00;

}
.questions{
    float:left;
    text-align: left;
    width:600px;
    height:var(--query-height);
    background:thistle;
    line-height:40px;

}
.radioArea{
    float:left;
    text-align: left;
    width:200px;
    height:var(--query-height);
    background:bisque;
}

.RStatus{
    float:left;
    width:50px;
    height:var(--query-height);
    background-color: #474747;
}


/* winner_text 아래 영역과 별개*/
.winner_text{
    position:relative; 
    left:50%; 
    transform:translateX(-50%);
    clear:both;
    float:left;
    width:900px;
    height:100px;
    background-color: wheat;
    text-align: center;
    line-height: 100px;
}

/* 여기 말고도 아래 하나 더 있는 버튼 */
.buttons{
    background-color: darkorange;
    color:darkslategray;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-weight: 900;
    border-style: ridge;
    padding: 15px 30px;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
}

/* 교대로 나오는 초상화 3장 영역 */
.winner_portrait_box0{
    position:relative; 
    left:50%; 
    transform:translateX(-50%);
    clear:both;
    float:left;
    width:900px;
    height:1000px;
    line-height:1000px;
    text-align: center;
    display:block;
    background: #F0F0F0;
}
.winner_portrait_box1{
    position:relative; 
    left:50%; 
    transform:translateX(-50%);
    clear:both;
    float:left;
    width:900px;
    height:1000px;
    line-height:1000px;
    text-align: center;
    display:none;
}
.winner_portrait_box2{
    position:relative; 
    left:50%; 
    transform:translateX(-50%);
    clear:both;
    float:left;
    width:900px;
    height:1000px;
    line-height:1000px;
    text-align: center;
    display:none;
}
.winner_portrait_box1 img{
    max-width:900px;
    vertical-align: middle;
    max-height: 800px;
    object-fit: cover;
}
.winner_portrait_box2 img{
    max-width:900px;
    max-height: 800px;
    vertical-align: middle;
    object-fit: cover;
}

.newpage_button_area{
    position:relative; 
    left:50%; 
    transform:translateX(-50%);
    clear:both;
    float:left;
    width:900px;
    height:100px;
    background-color: wheat;
    text-align: center;
    line-height: 100px;
}


.chatting{
    float:left;
    position:relative; 
    left:50%; 
    transform:translateX(-50%);
    width:900px;
    height:400px;
    background:lightcyan;
}

@media (max-width: 1220px){

    .textRow{
        width:700px;
        margin-top: 400px;
        font-size: 1.2rem;
    }
    
    .LStatus{
        width:33px;
    }
    .questions{
        width:500px;
        line-height:30px;
    
    }
    .radioArea{
        width:133px;
    }
    
    .RStatus{
        width:33px;
    }

    .chatting{
        margin-left: -185px;
        width:900px;
        height:450px;
    }
}



@media (max-width: 768px){

    .textRow{
        width:400px;
        margin-top: 290px;
        font-size: 0.6rem;
    }
    
    .LStatus{
        width:30px;
    }
    .questions{
        width:246px;
        line-height:30px;
    
    }
    .radioArea{
        width:93px;
    }
    
    .RStatus{
        width:30px;
    }

    .chatting{
        margin-left: -185px;
        width:900px;
        height:450px;
    }
}


@media (max-width: 480px){

    .textRow{
        width:400px;
        margin-top: 290px;
        margin-left:36px;
        font-size: 0.6rem;
    }
    
    .LStatus{
        display:none;
    }
    .questions{
        width:246px;
        line-height:30px;
    
    }
    .radioArea{
        width:80px;
    }
    
    .RStatus{
        display:none;
    }

    .chatting{
        margin-left: 185px;
        width:900px;
        height:450px;
    }
}