
.contest{
    background: oldlace;
}

.battleTag{
    background: antiquewhite;
    font-family: 'Courier New', Courier, monospace;
}
.battleTag_sub{
    background: rgb(228, 215, 199);
    font-family: 'Courier New', Courier, monospace;
    height:40px;
    line-height: 40px;
    text-align: center;
}

/* textrow : questions + radioarea  */

.chatting{
    float:left;
    position:relative; 
    left:50%; 
    transform:translateX(-50%);
    margin-top: 40px;
    width:840px;
    padding:30px;
    height:700px;
    background:#FAEBD7;
}
.chatting>div{
    background:#ffe4c2;
    height:700px;
    width:860px;
}
